* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

#outerSquare {
    padding: 15vh;
}

.innerSquare {
    padding: 5vh;
    background-color:rgb(206, 18, 18);
    border-radius: 25px;
}

.top {
    padding: 1vh;
}
.bottom {
    padding: 2vh;
}

/* Images Styling*/
img {
    width: 30%;
    border-radius: 25px;
}

.bottom > img {
    width: 8%;
}